/* 사이트 기본글꼴 호출 */
@font-face {
    font-family: "NanumSquareRound";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ---------------------전역속성 시작 -----------------*/
html {
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 1.5;
    vertical-align: baseline;
    font-size: 10px;
}
* {
    /* 초기화 */
    margin: 0;
    padding: 0;
    /* /초기화 */

    /* 가운데정렬 */
    text-align: center;
    /* /가운데정렬 */

    /* 전역글꼴 */
    font-family: nanumsquareround;
    font-weight: 400;
    /* /전역글꼴 */
}
/* ------------------전역속성 끝 -----------------*/

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------mainteam 공통적용속성 ----------------*/
#wrap {
    background: #dae9f5;
    text-align: center;
    margin: auto;
    overflow: hidden;
}
/* #wrap = 절주온 사이트 전체를 감싸는 막 */
/* wrap하위로 헤더팀, 푸터팀 html코딩이 들어올듯? */
#mainWrap {
    display: inline-block;
    margin: 17.5rem auto -0.7rem;
    padding-bottom: 23rem;
    overflow: visible;
    position: relative;
    width: 1500px;
}
#mainWrap {
    background: #dae9f5;
    text-align: center;
}
/* #mainwrap = 절주온 사이트중 메인영역을 덮는 막 */
/* mainwrap하위로 main팀 팀원4명의 html이 들어올듯? */
