.sec2 {
  width: 507.7px;
  border: 0.5px solid black;
  border-radius: 20px;
  background-color: slateblue;
  color: white;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
.sec2 span:nth-child(1) {
  float: left;
}
.sec2 span:nth-child(2) {
  float: right;
}
#sec2_character {
  width: 150px;
  height: 149.41px;
}
.sec2_text,
.sec2_text_2:hover {
  text-decoration: none;
  color: inherit;
}
.sec2_text:hover,
.sec2_text_2:hover {
  color: white;
}
.sec2_text_2:hover {
  transform: translateX(4px);
}
