@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 1.5;
  vertical-align: baseline;
  font-size: 10px;
}
* {
  /* 초기화 */
  margin: 0;
  padding: 0;
  /* /초기화 */

  /* 가운데정렬 */
  text-align: center;
  /* /가운데정렬 */

  /* 전역글꼴 */
  font-family: nanumsquareround;
  font-weight: 400;
  /* /전역글꼴 */
}
#mainwrap {
  background: #dae9f5;
  text-align: center;
}
